<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BRSMovilidadERPApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BRSMovilidadERPprueba"
        tools:targetApi="31">
        <activity
            android:name=".UI.Views.Novedades.Novedades_Activity"
            android:exported="false">
        </activity>
        <activity
            android:name=".UI.Views.Configuracion.Configuracion_Activity"
            android:exported="false"/>
        <activity
            android:name=".UI.Views.Fechas.Fechas_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Importar.Importar_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.BorrarVentas.BorrarDatos_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Exportar.Exportar_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Licencia.Licencia_Activity"
            android:exported="true"/>
        <activity
            android:name=".UI.Views.SplashScreen.SplashScreen_activity"
            android:exported="true"
            android:theme="@style/Theme.BRSMovilidadERP.NoActionBarPrueba">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Views.Articulos.FiltrarArticulos_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Articulos.DetallesArticulos_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Articulos.Articulos_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Clientes.DetallesClientes_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.ViewModels.AjustesAvanzados_ViewModel"
            android:exported="false" />
        <activity
            android:name=".UI.Views.AjustesAvanzados.AjustesAvanzados_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Clientes.Clientes_Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".UI.Views.BuscarClientes.BuscarCliente_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Rutas.Rutas_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Series.DetallesSerie_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Series.Series_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Centros.Centros_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.TipoOperacion.TipoOperacion_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Views.Centros.DetallesCentro_Activity"
            android:exported="false" />
    </application>

</manifest>